
body{
    background-color: rgb(92, 206, 86);
}

.profile{
    text-align: center;
    display: inline-block; 
     justify-content: center; 
    
}

.form{
    border: 10px solid #ccc; 
    border-radius: 2%; 
    margin:  10px;
    background-color: aliceblue;
    

}

 .image{
    background-color: white;
    border: 10px solid #e1e8df;
} 

